{% extends 'base.html' %}

{% block styles %}
<style type="text/css">
	.navbar {
		margin-bottom: 0px;
		z-index: 999;
	}
	.sidebar {
		bottom: 0;
		left: 0;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
		position: fixed;
		top: 51px;
		z-index: 999;
	}

	@media(max-width: 768px) {
		.sidebar {
			height : auto;
		}
	}

	.nav-sidebar {
		margin-right: -21px; /* 20px padding + 1px border */
		margin-bottom: 20px;
		margin-left: -20px;
	}
	.nav-sidebar > li > a {
		padding-right: 20px;
		padding-left: 20px;
	}
	.nav-sidebar > .active > a,
	.nav-sidebar > .active > a:hover,
	.nav-sidebar > .active > a:focus {
		color: #fff;
		background-color: #428bca;
	}

	.collapse.nav {
		background-color: white;
		border-right: 1px solid #eee;
	}
	.collapse.nav li a {
		padding-left: 30px;
	}

</style>
{% block tabstyles %}
{% endblock %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			{% block tabs %}
			{% endblock %}
		</ul>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
		{% include 'components/alert.html' %}

		{% block tabdetails %}
		{% endblock %}
	</div>
</div>
{% endblock %}

{% block scripts %}
	{% block tabscripts %}
	{% endblock %}
{% endblock %}