{% extends 'dashboard/base.html' %}

{% load priority_string %}

{% block tabstyles %}
<style type="text/css">
	.panel {
		margin-top: 20px;
	}
	.progress {
		display: none;
	}
	#priority-selector a {
		display: inline;
	}
</style>
{% endblock %}

{% block tabs %}
<li>
	<a data-toggle="collapse" href="#dataset-sections" 
		aria-expanded="false" 
		aria-controls="dataset-sections">
		<i class="fa fa-database" aria-hidden="true"></i> Datasets
	</a>
	<ul class="collapse nav" id="dataset-sections">
		<li><a href="/dashboard/">Public datasets</a></li>
		<li><a href="/dashboard/?my">My Datasets</a></li>
	</ul>
</li>
<li class="active">
	<a data-toggle="collapse" href="#bookmark-sections" 
		aria-expanded="false" 
		aria-controls="bookmark-sections">
		<i class="fa fa-bookmark" aria-hidden="true"></i> Bookmarks
	</a>
	<ul class="collapse nav" id="bookmark-sections">
		<li><a href="/bookmarks/">Public bookmarks</a></li>
		<li><a href="/bookmarks/?my">My bookmarks</a></li>
	</ul>
</li>
<li>
	<a href="/upload/">
		<i class="fa fa-upload" aria-hidden="true"></i> Upload data file
	</a>
</li>
{% endblock %}

{% block tabdetails %}
{% if user %}
<div class="row" style="margin-top: 20px; margin-left: 20px">
	<h2><strong>{{ user.email }}</strong>'s bookmarks: </h2>
</div>
{% endif %}

{% if bookmarks %}
<div class="row" style="margin-top: 20px">
	<div class="col-sm-12 col-offset-sm-1">
		<table class="table table-hover">
		  <thead>
		  	<tr>
		  		<th>Node Id</th>
		  		<th>X coordinate</th>
		  		<th>Y coordinate</th>
		  		<th>Property name</th>
		  		<th>Priority</th>
		  		<th>Note</th>
		  		<th>Is publicized</th>
		  		<th>Created at</th>
		  		<th>View dataset</th>
		  		<th>Uploader</th>
		  		{% if can_edit %}
		  		<th></th>
		  		{% endif %}
		  	</tr>
		  </thead>
		  <tbody>
		  	{% for bookmark in bookmarks %}
		  	<tr data-row="{{ bookmark.id }}">
		  		<td>{{ bookmark.node_id }}</td>
		  		<td>{{ bookmark.x_coord }}</td>
		  		<td>{{ bookmark.y_coord }}</td>
		  		<td>{{ bookmark.prop }}</td>
		  		<td class="priority">{{ bookmark.priority|to_priority_string }}</td>
		  		<td class="note">{{ bookmark.note }}</td>
		  		<td class="publicized">{{ bookmark.publicized|yesno:"Yes,No" }}</td>
		  		<td class="upload-time">{{ bookmark.created_at|date:"D d M Y" }} {{ bookmark.created_at|time:"H:i" }}</td>
		  		<td>
		  			<button type="button" class="btn btn-primary" onclick="window.location.href='/datasets/{{ bookmark.dataset.id }}/'">View</button>
		  		</td>
		  		<td>
		  			<div class="dropdown">Uploaded by 
						<a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							{{ bookmark.creator.email }}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu user-action-dropdown" aria-labelledby="dLabel">
					    	<li><a href="/dashboard/?user={{bookmark.creator.id}}">View datasets</a></li>
					    	<li><a href="/bookmarks/?user={{bookmark.creator.id}}">View bookmarks</a></li>
					    	<li><a href="mailto:{{bookmark.creator.email}}">Contact this user</a></li>
					  	</ul>
					</div>
		  		</td>
		  		{% if can_edit %}
		  		<td>
		  			<a class="delete-btn btn btn-danger" data-delete="{{ bookmark.id }}" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></a>
		  			<a class="edit-btn btn btn-primary" data-publicized="{{ bookmark.publicized|yesno:"1,0" }}" data-priority="{{ bookmark.priority }}" data-note="{{ bookmark.note }}" data-edit="{{ bookmark.id }}" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
		  		</td>
		  		{% endif %}
		  	</tr>
		  	{% endfor %}
		  </tbody>
		</table>
	</div>
</div>
{% else %}
<div class="row" style="margin-top:20px">
	<div class="container">
		<h2>Oops. No bookmarks available!</h2>
	</div>
</div>
{% endif %}

<!-- Edit modal -->
<div class="modal fade" id="bookmark-editor" tabindex="-1" role="dialog" aria-labelledby="bookmark-editor">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="bookmark-editor">Edit the bookmark</h4>
			</div>
			<div class="modal-body">
				<div>
					<div class="form-group">
						<label for="priority">Please select a priority</label>
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="priority-selector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								<span data-bind="text: priority"></span>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" id="priority-selector" aria-labelledby="priority-selector">
								<li style="padding: 10px">
									<span style="background-color: red; width: 20px; height: 20px; float: left"></span>
									<a data-bind="click: selectPriority(2)">High</a>
								</li>
								<li style="padding: 10px">
									<span style="background-color: yellow; width: 20px; height: 20px; float: left"></span>
									<a data-bind="click: selectPriority(1)">Medium</a>
								</li>
								<li style="padding: 10px">
									<span style="background-color: green; width: 20px; height: 20px; float: left"></span>
									<a data-bind="click: selectPriority( 0)">Low</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="form-group">
						<input class="form-control" placeholder="Enter a brief note if any" data-bind="textInput: note"></input>
					</div>
					<div class="checkbox">
						<label>
						<input type="checkbox" data-bind="checked: publicized">
							Publicized status
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="update-bookmark-btn">Update</button>
			</div>
		</div>
	</div>
</div>

{% include 'components/modal.html' %}
{% include 'components/loading-indicator.html' %}

{% endblock %}

{% block tabscripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
<script type="text/javascript">
	
	// convert time from utc to local
	$('.upload-time').each(function() {
		var val = $(this).html();
		$(this).html(moment.utc(val).local().format('MMMM Do YYYY, h:mm a'));
	});

	// init bookmark models
	var bookmarkView = new View({
		el : document.getElementById('bookmark-editor'),
		data : {
			priorityVal : 0,
			publicized : false,
			id : -1,
			note : ''
		},
		computed: {
			priority : function () {
				var texts = [ "low", "medium", "high" ];
				return texts[ this.priorityVal() ];
			}
		},
		methods : {
			selectPriority : function (level) {
				this.priorityVal(level);
			}
		}
	});

	// delete btn pressed
	$('.delete-btn').click(function(e) {

		var $this = $(this);

		// let user confirm
		if (confirm("Are you sure you want to delete this bookmark?")) {
			$('.loading-indicator').modal('show');
			// delete the bookmark
			$.ajax({
				'url': "/bookmarks/" + $this.attr('data-delete') + "/delete",
				'method': "POST"
			}).done(function(res){
				if (res['status'] == 'success') {
					// deleted successfully, remove the current row
					console.log($('tr[data-row="' + $this.attr('data-delete') + '"]'));
					$('tr[data-row="' + $this.attr('data-delete') + '"]').fadeOut();
				}
				showModal(res['message']);
				$('.loading-indicator').modal('hide');
			}).fail(function(e){
				console.log(e);
				showModal("Failed to delete bookmark!");
				$('.loading-indicator').modal('hide');
			})

		}

	});

	// edit btn pressed
	$('.edit-btn').click(function(e) {

		// update bookmark book
		bookmarkView.data().id($(this).attr('data-edit'));
		bookmarkView.data().priorityVal($(this).attr('data-priority'));
		bookmarkView.data().publicized(Boolean(parseInt($(this).attr('data-publicized'))));
		bookmarkView.data().note($(this).attr('data-note'));

		// show editing modal
		// @notice: current only support updating of priority, publicized status and note
		$('#bookmark-editor').modal('show');

	});

	// update bookmark btn pressed
	$('#update-bookmark-btn').click(function(e) {

		// show loading indicator
		$('#loading-indicator').modal('show');

		// send update request
		var bookmarkId = bookmarkView.data().id();
		var priority = bookmarkView.data().priorityVal();
		var publicized = bookmarkView.data().publicized();
		var note = bookmarkView.data().note();

		$.ajax({
			url: "/bookmarks/" + bookmarkId + "/update",
			method: "POST",
			data: {
				'updates': JSON.stringify({
					'publicized': publicized,
					'priority': priority,
					'note' : note
				})
			}
		}).done(function(res){

			if (res['status'] == 'success') {
				// update UI priority
				var priorityTexts = [ "low", "medium", "high" ];
				$('tr[data-row="' + bookmarkId + '"] td.priority').html(priorityTexts[priority]);
				// update UI publicized
				$('tr[data-row="' + bookmarkId + '"] td.publicized').html(publicized ? "Yes" : "No");
				// update UI note
				$('tr[data-row="' + bookmarkId + '"] td.note').html(note);
				// hide loading indicator
				$('#loading-indicator').modal("hide");
			}
			showModal(res['message']);
		}).fail(function(e) {

			console.log(e);
			showModal("Failed to update bookmark!");
			// hide loading indicator
			$('#loading-indicator').modal("hide");
		});

	});

</script>
{% endblock %}