{% extends 'dashboard/base.html' %}

{% block tabstyles %}
<style type="text/css">
	.panel {
		margin-top: 20px;
	}
	.progress {
		display: none;
	}
</style>
{% endblock %}

{% block tabs %}
<li>
	<a data-toggle="collapse" href="#dataset-sections" 
		aria-expanded="false" 
		aria-controls="dataset-sections">
		Datasets
	</a>
	<ul class="collapse nav" id="dataset-sections">
		<li><a href="/dashboard/">Public datasets</a></li>
		<li><a href="/dashboard/?my">My Datasets</a></li>
	</ul>
</li>
<li class="active"><a href="/bookmarks/">Bookmarked</a></li>
<li><a href="/upload/">Upload data file</a></li>
{% endblock %}

{% block tabdetails %}
<div class="row">
	
</div>

{% include 'components/modal.html' %}

{% endblock %}

{% block tabscripts %}
<script type="text/javascript">
	
</script>
{% endblock %}